<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448742658571-3pjs1g20lljbupnfcaqjka6k7ascm5kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448742658571-3pjs1g20lljbupnfcaqjka6k7ascm5kb</string>
	<key>API_KEY</key>
	<string>AIzaSyDyPTvgh0kTZTmD_uN7ksehDlpTaRV5S8U</string>
	<key>GCM_SENDER_ID</key>
	<string>448742658571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReadingTracker</string>
	<key>PROJECT_ID</key>
	<string>reading-tracker-2eca6</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-tracker-2eca6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448742658571:ios:5c294617afc50596d2ed0e</string>
</dict>
</plist>